* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ribik;
}

$fontbt1: 500 25px/22px Rubik;
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    .hero-btn {
        position: relative;
        width: 180px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        button {
            overflow: hidden;
        }
        .btn1 {
            margin: 15px 15px 15px 0px;
            position: relative;
            background-color: transparent;
            transition: all 0.5s;
            font: $fontbt1;
            width: 100px;
            height: 60px;
            &:hover {
                width: 200px;
            }
            &.btn1::before {
                transition: 0.8s;
                margin-left: 122px;
                border: 0;
                padding: 19.3px 30px 19.3px 30px;
                background-color: transparent;
                color: transparent;
                font-size: 20px;
                content: 'Telegram';
            }
            &.btn1:hover::before {
                margin-left: 100px;
                border: 0;
                padding: 19px;
                background-color: transparent;
                color: transparent;
                font-size: 20px;
                content: '';
            }
            &.btn1::after {
                color: #fff;
                margin-top: -14px;
                content: 'Telegram';
                position: absolute;
                left: -100px;
                font: 500 18px/10px Rubik;
            }
            &.btn1:hover:after {
                position: absolute;
                transition: all 1.2s ease-in-out;
                color: #fff;
                margin-left: 160px;
            }
            &.btn1:hover::before {
                padding: 19.3px 61px;
                margin-left: 0px;
                background-color: blue;
                color: transparent;
                content: 'Telegram';
            }
        }
        .btn2 {
            margin: 15px 15px 15px 0px;
            position: relative;
            background-color: transparent;
            transition: all 0.5s;
            font: $fontbt1;
            width: 100px;
            height: 60px;
            &:hover {
                width: 200px;
            }
            &.btn2::before {
                transition: 0.8s;
                margin-left: 122px;
                border: 0;
                padding: 19.3px 30px 19.3px 30px;
                background-color: transparent;
                color: transparent;
                font-size: 20px;
                content: 'Telegram';
            }
            &.btn2:hover::before {
                margin-left: 100px;
                border: 0;
                padding: 19px;
                background-color: transparent;
                color: transparent;
                font-size: 20px;
                content: '';
            }
            &.btn2::after {
                margin-top: -14px;
                content: 'Instagram';
                position: absolute;
                left: -100px;
                color: #fff;
                font: 500 18px/10px Rubik;
            }
            &.btn2:hover:after {
                position: absolute;
                transition: all 1.2s ease-in-out;
                color: #fff;
                margin-left: 160px;
            }
            &.btn2:hover::before {
                padding: 19.3px 61px;
                margin-left: 0px;
                background-color: rgb(203, 119, 172);
                color: transparent;
                content: 'Instagram';
            }
        }
        .btn3 {
            margin: 15px 15px 15px 0px;
            position: relative;
            background-color: transparent;
            transition: all 0.5s;
            font: $fontbt1;
            width: 100px;
            height: 60px;
            &:hover {
                width: 200px;
            }
            &.btn3::before {
                transition: 0.8s;
                margin-left: 122px;
                border: 0;
                padding: 19.3px 30px 19.3px 30px;
                background-color: transparent;
                color: transparent;
                font-size: 20px;
                content: 'Telegram';
            }
            &.btn3:hover::before {
                margin-left: 100px;
                border: 0;
                padding: 19px;
                background-color: transparent;
                color: transparent;
                font-size: 20px;
                content: '';
            }
            &.btn3::after {
                margin-top: -15px;
                content: 'Youtube';
                position: absolute;
                left: -100px;
                color: #fff;
                font: 500 18px/10px Rubik;
            }
            &.btn3:hover:after {
                position: absolute;
                transition: all 1.2s ease-in-out;
                color: #fff;
                margin-left: 170px;
            }
            &.btn3:hover::before {
                padding: 19.3px 65px;
                margin-left: 0px;
                background-color: rgb(255, 0, 0);
                color: transparent;
                content: 'Youtube';
            }
        }
    }
}